
a {
    color: #41C53D;
}

a:hover {
    color: #50FA4B;
}

#page {
    margin: 0;
    padding: 0;
    background: #EBF0F4;
    max-width: 100%;
}

header.site-header {
    background: #fff;
    padding: 1.714285714rem 0 0;
}

header hgroup {
    margin: 0 auto;
    max-width: 68.571428571rem;
}

#main {
    margin: 0 auto;
    max-width: 68.571428571rem;
}

footer[role="contentinfo"] {
    margin: 0;
    background: #464A4D;
    padding: 1.714285714rem 0 0;
    max-width: 100%;
    color: #fff;
}

footer[role="contentinfo"] .site-info {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 68.571428571rem;
}

header hgroup,
footer[role="contentinfo"] .site-info,
nav.nav-single {
    padding-right: 1.714285714rem;
    padding-left: 1.714285714rem;
}

.main-navigation > div {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    border: 0;
    margin: 0 auto;
    max-width: 68.571428571rem;
    display: inline-block !important;
    text-align: left;
    width: 100%;
}
.main-navigation ul {
    margin: 0;
    text-indent: 0;
}
.main-navigation li a,
.main-navigation li {
    display: inline-block;
    text-decoration: none;
}
.main-navigation li a {
    border-bottom: 0;
    color: #6a6a6a;
    line-height: 3.692307692;
    text-transform: uppercase;
    white-space: nowrap;
}
.main-navigation li a:hover,
.main-navigation li a:focus {
    color: #50FA4B;
}
.main-navigation li {
    margin: 0 40px 0 0;
    margin: 0 2.857142857rem 0 0;
    position: relative;
}
.main-navigation li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation li ul ul {
    top: 0;
    left: 100%;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li:focus > ul,
.main-navigation .focus > ul {
    border-left: 0;
    clip: inherit;
    overflow: inherit;
    height: inherit;
    width: inherit;
}
.main-navigation li ul li a {
    background: #efefef;
    border-bottom: 1px solid #ededed;
    display: block;
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
    padding: 8px 10px;
    padding: 0.571428571rem 0.714285714rem;
    width: 180px;
    width: 12.85714286rem;
    white-space: normal;
}
.main-navigation li ul li a:hover,
.main-navigation li ul li a:focus {
    background: #e3e3e3;
    color: #444;
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
    color: #41C53D;
    font-weight: bold;
    box-shadow: 0 -6px 0px -3px #41C53D inset;
}

.main-navigation li {
    margin: 0;
    width: 24.5%;
    text-align: center;
}
.main-navigation a {
    font-size: 14px;
    line-height: 40px;
}

.site-content article {
    margin-left: 1.714285714rem;
    margin-right: 0;
    padding: 6px;
    margin-bottom: 1.142857143rem;
    background: #fff;
    border: solid 1px #fff;
}

.site-content article[not-single] {
    cursor: pointer;
}
.site-content article[not-single]:hover {
    border: solid 1px #41C53D;
}

@media (max-width:660px) {
    #secondary {
        padding-right: 1.714285714rem;
        padding-left: 1.714285714rem;
    }

    .main-navigation li {
        margin: 0;
        text-align: center;
    }
    .main-navigation li:nth-child(1) { width: 18.9%; }
    .main-navigation li:nth-child(2) { width: 26.9%; }
    .main-navigation li:nth-child(3) { width: 20.9%; }
    .main-navigation li:nth-child(4) { width: 28.9%; }

    .main-navigation a {
        font-size: 13px;
        line-height: 36px;
    }
    .site-content article {
        margin-right: 1.714285714rem;
    }
}

@media (max-width:470px) {
    .main-navigation a {
        font-size: 12px;
        line-height: 33px;
    }

    .site-content article[single] {
        padding-left: 1.714285714rem;
        padding-right: 1.714285714rem;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:350px) {
    .main-navigation a {
        font-size: 11px;
        line-height: 31px;
    }
}

